@using CrunchEconModels.Models
@using CrunchEconUI.Models
@using CrunchEconUI.Services
@using Blazorise
@using Radzen

@inject IJSRuntime JsRuntime


<div class="container-fluid">


    <DataGrid TItem="ItemListing"
              Data="@Items.Where(x => !x.Suspended)"
              EditMode="Blazorise.DataGrid.DataGridEditMode.Popup"
              SelectionMode="Blazorise.DataGrid.DataGridSelectionMode.Single"
              ShowPager="true"
              ShowPageSizes="true"
              Editable="true"
              Responsive="true"
              Sortable="true"
              Striped="true"
              PageSize="25"
              CommandMode="DataGridCommandMode.Commands"
              SubmitFormOnEnter="false"
              Filterable="true" PopupSize="Blazorise.ModalSize.ExtraLarge" @ref=@GridRef>
        <ChildContent>
            <DataGridColumn TItem="ItemListing" Field="ItemIdImage" Caption="" Filterable="false" Editable="false">
                <DisplayTemplate>
                    <RadzenImage Path="@eventService.GetTexture(@context.ItemId)" Style="max-width: 100px; max-height: 100px;" />


                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ItemListing" Field="ItemId" Caption="Item" Editable="false">
                <DisplayTemplate>
                    <p>@context.ItemId.Replace("MyObjectBuilder_","")</p>
                </DisplayTemplate>
            </DataGridColumn>
            <DataGridColumn TItem="ItemListing" Field="BuyPricePerItem" Caption="Price to Buy" Filterable="false" Editable="false">   </DataGridColumn>
            <DataGridColumn TItem="ItemListing" Field="Amount" Caption="Buyable Amount" Editable="false" Filterable="false" Sortable="true">   </DataGridColumn>
            <DataGridColumn TItem="ItemListing" Field="SellPricePerItem" Caption="Price to Sell" Filterable="false" Editable="false">    </DataGridColumn>
            <DataGridColumn TItem="ItemListing" Field="MaxAmountToBuy" Caption="Sellable Amount" Filterable="false" Editable="false">   </DataGridColumn>
            @*       <DataGridColumn TItem="ItemListing" Field="OwnerId" Caption="Owner" Editable="false">   </DataGridColumn>*@
            <DataGridCommandColumn TItem="ItemListing" DeleteCommandAllowed="true">
                <CancelCommandTemplate>
                    @*                  <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="cancel" Click="@(args => context.Clicked.InvokeAsync())"></RadzenButton> *@
                </CancelCommandTemplate>
                <SaveCommandTemplate>
                </SaveCommandTemplate>
                <ClearFilterCommandTemplate>
                    <HasAccessComponent AccessLevel="0">
                        <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Success" Text="Create Listing" Click="@CreateListing" />
                    </HasAccessComponent>
                    <RadzenDropDown TValue="string" @bind-Value=@Bound Data=@Sorting Change="@Changed" Style="width: 100%; max-width: 400px;" />

                </ClearFilterCommandTemplate>
                <DeleteCommandTemplate>

                </DeleteCommandTemplate>
                <EditCommandTemplate>
                    <HasAccessComponent AccessLevel="0">
                        <BuyAndSellComponent ListedItem="@context.Item"></BuyAndSellComponent>
                    </HasAccessComponent>
                </EditCommandTemplate>
            </DataGridCommandColumn>
        </ChildContent>
    </DataGrid>

</div>

